.bold {
  font-weight: bold;
  font-size: inherit;
  color: inherit;
  text-shadow: inherit;
}
.italic {
  font-style: italic;
  font-size: inherit;
  color: inherit;
  text-shadow: inherit;
}
.underline {
  text-decoration: underline;
  font-size: inherit;
  color: inherit;
  text-shadow: inherit;
}
